<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Programar Viaje</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="content">
  <div class="form-container">
    <form [formGroup]="form" class="auth-form" (ngSubmit)="submit()" (keypress.enter)="submit()">
      <!-- Título de la sección -->
      <div class="form-title">
        <h2>Detalles del Viaje</h2>
        <p>Complete los siguientes campos para programar su viaje.</p>
      </div>

      <div class="form-fields">
        <!-- Patente -->
        <app-custom-input autocomplete="patente" icon="document-text-outline" [control]="form.controls.patente"
          type="text" label="Patente" placeholder="Ej: ABC1234">
        </app-custom-input>

        <!-- Salida -->
        <app-custom-input autocomplete="salida" icon="time-outline" [control]="form.controls.salida" type="time"
          min="00:00" max="23:59" label="Horario de salida" placeholder="Selecciona una hora">
        </app-custom-input>

        <!-- Destino -->
        <app-custom-input [control]="form.controls.destino" icon="map-outline" type="text" label="Destino"
          (input)="getDestinos($event)" placeholder="Ingresa el destino">
        </app-custom-input>

        <ion-list *ngIf="destinoSuggestions?.length">
          <ion-item *ngFor="let suggestion of destinoSuggestions" (click)="selectDestino(suggestion)">
            <ion-label>{{ suggestion.place_name || 'Destino desconocido' }}</ion-label>
          </ion-item>
        </ion-list>

        <!-- Coste -->
        <app-custom-input [control]="form.controls.coste" icon="cash-outline" type="text" label="Coste" placeholder="Precio estimado">
        </app-custom-input>

        <!-- Pasajeros -->
        <app-custom-input [control]="form.controls.pasajeros" icon="people-outline" type="text" label="Pasajeros"
          placeholder="Cantidad de pasajeros">
        </app-custom-input>

        <!-- Botones -->
        <ion-button color="dark" expand="block" mode="ios" class="submit" type="submit" [disabled]="form.invalid">
          Agregar
        </ion-button>

        <ion-button color="danger" expand="block" mode="ios" class="cancel" routerLink="/auth">
          Volver
        </ion-button>
      </div>
    </form>

    <!-- Mapa -->
    <div class="map-container" #map></div>
  </div>
</ion-content>